In [2]:
print("안녕하세요")

안녕하세요

In [5]:
print("Hi")
# 주석: # 뒤에 나온 부분은 주석으로 실행되지 않습니다.

Hi

In [6]:
a = 9
b = 5

In [8]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

14
4
45
1.8
1
4

In [9]:
print('파이썬', '데이터분석입문','PlaywithData', '데이터수집')

파이썬 데이터분석입문 PlaywithData 데이터수집

In [10]:
print('귤', '사과', '배', sep = ' / ')

귤 / 사과 / 배

In [12]:
print('1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번')
class_2_1 = ['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']
print(class_2_1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [14]:
k = ['a', 'b', 'c', 'd', 'e']

print(k[1])

b

In [15]:
k = ['a', 'b', 'c', 'd', 'e']

print(k[1:3])
print(k[-4:-2])

['b', 'c']
['b', 'c']

In [16]:
l1 = ['a']
l2 = ['b', 'c', 'e']
print(l1 + l2)
print(l2 + l1)

['a', 'b', 'c', 'e']
['b', 'c', 'e', 'a']

In [17]:
l1 = ['a']
l2 = ['b', 'c', 'e']
l1.append(l2)
print(l1)

['a', ['b', 'c', 'e']]

In [18]:
fruits = ['바나나', '사과', '딸기', '배', '감']
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

In [19]:
s = '문자'
print(s)

문자

In [20]:
a = "사과"
b = '망고, 파인애플'
ab = a + b
print(ab)

사과망고, 파인애플

In [21]:
z = '*'
print(z * 10)

**********

In [23]:
month = "2월"
day = "20일"
say = "{} {}은 일요일입니다.".format(month, day)
print(say)

2월 20일은 일요일입니다.

In [25]:
k = "가나다라마바"
print(k[2])
print(k[-1])
print(k[2:5])
print(k[3:])

다
바
다라마
라마바

In [29]:
t1 = "   hp010-0000-0000    "
print(t1)
t2 = t1.strip()
print(t2)
t3 = t2.replace('hp', '')
print(t3)
t4 = t3.split('-')
print(t4)

   hp010-0000-0000
hp010-0000-0000
010-0000-0000
['010', '0000', '0000']

In [30]:
price = 5000
if price > 3000:
    print('비싸다')
else:
    print('저렴하다')

비싸다

In [31]:
def say_name(name):
    print('안녕하세요')
    print('제 이름은 ' + name + '입니다')

say_name('홍길동')

안녕하세요
제 이름은 홍길동입니다

In [32]:
def calcul(a, b):
    result = a ** b
    return result

test = calcul(10, 3)
print(test)

1000